.btns {
	margin-bottom: 20px;
	min-width: min-content;
}
#dropdownMenuButton1,
#dropdownMenuButton2 {
	min-width: min-content;
}
#questions-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
	padding: 0 10px;
}
#questionInput::placeholder {
	color: darkgray;
	opacity: 0.5;
}
.question-card {
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding: 0;
	page-break-inside: avoid !important;
}
li {
	list-style-type: none;
	page-break-inside: avoid !important;
}
/* --------------------------------------- */
